.pseudo-active:active {
    color: green;
}

@counter-style additive-symbols-dice {
    system: additive;
	additive-symbols: 6 "\2685", 5 "\2684", 4 "\2683", 3 "\2682", 2 "\2681", 1 "\2680";
	suffix: " ";
}

.additive-symbols-list {
    list-style-type: additive-symbols-dice;
}

.after-nullpo::after {
    content: "\A 2. 仕様書無しさん :20/11/02 13:01:00 \A　>>1\A 　ｶﾞｯ\A　※このレスは::afterで追加した";
    white-space: pre;
}

.align-content-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    background-color: gray;
    width: 300px;
    height: 280px;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 90px;
    min-height: 90px;
    margin: 3px;
    background-color: steelblue;
    color: white;
    text-align: center;
    line-height: 70px;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-content-space-stretch {
    align-content: stretch;
}

.align-content-center {
    align-content: center;
}

.align-content-start {
    align-content: start;
}

.align-content-end {
    align-content: end;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-baseline {
    align-content: baseline;
}

.align-content-first-baseline {
    align-content: first baseline;
}

.align-content-last-baseline {
    align-content: last baseline;
}

.align-items-container {
    display: flex;
    flex-wrap: wrap;
}

.align-items-normal {
    align-items: normal;
}