.pseudo-active:active {
    color: green;
}

@counter-style additive-symbols-dice {
    system: additive;
	additive-symbols: 6 "\2685", 5 "\2684", 4 "\2683", 3 "\2682", 2 "\2681", 1 "\2680";
	suffix: " ";
}

.additive-symbols-list {
    list-style-type: additive-symbols-dice;
}

.after-nullpo::after {
    content: "\A 2. 仕様書無しさん :20/11/02 13:01:00 \A　>>1\A 　ｶﾞｯ\A　※このレスは::afterで追加した";
    white-space: pre;
}

.align-content-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container {
    display: flex;
    background-color: gray;
    width: 300px;
    height: 280px;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 90px;
    min-height: 90px;
    margin: 3px;
    background-color: steelblue;
    color: white;
    text-align: center;
    line-height: 70px;
}

.align-content-space-around {
    align-content: space-around;
}

.align-content-space-between {
    align-content: space-between;
}

.align-content-space-evenly {
    align-content: space-evenly;
}

.align-content-space-stretch {
    align-content: stretch;
}

.align-content-center {
    align-content: center;
}

.align-content-start {
    align-content: start;
}

.align-content-end {
    align-content: end;
}

.align-content-flex-start {
    align-content: flex-start;
}

.align-content-flex-end {
    align-content: flex-end;
}

.align-content-baseline {
    align-content: baseline;
}

.align-content-first-baseline {
    align-content: first baseline;
}

.align-content-last-baseline {
    align-content: last baseline;
}

.align-items-container {
    display: flex;
    flex-wrap: wrap;
}

.align-items-normal {
    align-items: normal;
}

.align-items-stretch {
    align-items: stretch;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.align-items-end {
    align-items: end;
}

.align-items-flex-start {
    align-items: flex-start;
}

.align-items-flex-end {
    align-items: flex-end;
}

.align-items-baseline {
    align-items: baseline;
}

.align-items-first-baseline {
    align-items: first baseline;
}

.align-items-last-baseline {
    align-items: last baseline;
}

.align-self-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.align-self-center {
    align-self: center;
    background-color: lightcoral !important;
}

.align-self-start {
    align-self: start;
    background-color: lightcoral !important;
}

.align-self-end {
    align-self: end;
    background-color: lightcoral !important;
}

.align-self-self-start {
    align-self: self-start;
    background-color: lightcoral !important;
}

.align-self-self-end {
    align-self: self-end;
    background-color: lightcoral !important;
}

.align-self-flex-start {
    align-self: flex-start;
    background-color: lightcoral !important;
}

.align-self-flex-end {
    align-self: flex-end;
    background-color: lightcoral !important;
}

.align-self-baseline {
    align-self: baseline;
    background-color: lightcoral !important;
}

.align-self-first-baseline {
    align-self: first baseline;
    background-color: lightcoral !important;
}

.align-self-last-baseline {
    align-self: last baseline;
    background-color: lightcoral !important;
}

.align-self-stretch {
    align-self: stretch;
    background-color: lightcoral !important;
}

.all-container {
    display: flex;
    flex-wrap: wrap;
}

.all-parent {
    background-color: lightblue;
    width: 150px;
    height: 140px;
    color: green;
    font-size: small;
}

.all-child {
    color: red;
}

.all-initial {
    all: initial;
}

.all-unset {
    all: unset;
}

.all-inherit {
    all: inherit;
}

.all-revert {
    all: revert;
}

.angle-container {
    display: flex;
    flex-wrap: wrap;
}

.angle-base {
    width: 100px;
    height: 50px;
    background-color: steelblue;
    margin-top: 30px;
}

.angle-deg {
    transform: rotate(45deg);
}

.angle-grad {
    transform: rotate(50grad);
}

.angle-rad {
    transform: rotate(0.7854rad);
}